*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'jost',jost,'ssurroundair',ssurroundair, cursive;
    word-break: keep-all;
    word-wrap: break-word;
    box-sizing: border-box;
    cursor: url(/assets/images/normal.png) 2 2, url(/assets/images/normal.cur) 2 2, auto;
}

.off{
    display: none !important;
}

@mixin portrait {
    @media (orientation: portrait) {
        @content;
    }
}

@mixin landscape {
    @media (orientation: landscape) {
        @content;
    }
}